<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>You have been unsubscribed</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

  <link rel="stylesheet" href="../css/styles.css">
  <link rel="icon" href="http://www.dataparenting.com/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/http://www.dataparenting.com/favicon.ico" type="image/x-icon">
</head>
<body>
<% include ../google_tracking.ejs %>

<div class="non-foot">

  <% include ../header.ejs %>
  <div id="main">
    <br/>
    <h4>You have been successfully unsubscribed!</h4>
  </div>




</div>

<% include ../footer.ejs%>
<% include ../clicky_tracking.ejs %>
</body>
</html>