<html>
    <body>
        <h1><%=inviterName%> wants to connect with you on DataParenting</h1>
        <a href="<%=acceptLinkUrl%>">
        <p>Click here to open see the invitation</p>
        </a>

    </body>
</html>