<html>
    <body>
        <h1><%=title%></h1>
        <a href="<%=linkUrl%>">
        <% if(imageUrl) { %>
          <img alt="milestone achievement image" src="<%=imageUrl%>"/>
        <% } %>
        <p>Click here to open in your browser</p>
        </a>

    </body>
</html>