<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    <%= typeof title === "undefined" ? "Achievement" : title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui"/>
  <link rel="icon" href="http://www.dataparenting.com/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="/http://www.dataparenting.com/favicon.ico" type="image/x-icon"/>
  <link href="http://vjs.zencdn.net/4.8/video-js.css" rel="stylesheet"/>
  <script src="http://vjs.zencdn.net/4.8/video.js"></script>
  <script src="../js/videojs.zoomrotate.js"></script>

  <style>


    .wrapper {
      padding: 4% 4%;
      background: black;
    }

    .videocontent {
      width: 80%;
      max-width: 960px;
      margin: 0 auto;
    }

    .video-js {
      padding-top: 55.25%;
    }

    .vjs-fullscreen {
      padding-top: 0px;
    }

    body {
      background-color: black;
      color: white;
    }

    .title {
      font-size: 20pt;
      text-align: center;
      color: white;
      background-color: black;
      border: 20px solid black
    }

  </style>
</head>
<body>




<div class='achievement'>
  <div class='title'><%= title %></div>

<div class="wrapper">
 <div class="videocontent">
      <video id="video" class="video-js vjs-default-skin vjs-big-play-centered" width="auto" height="auto" preload="auto" controls="controls" data-setup="{}">
        <source src="<%=videoUrl%>" type="video/mp4"/>
       <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
      </video>
  </div>
 </div>
</div>

<script>
  var isSafari = !!navigator.userAgent.match(/Version\/[\d\.]+.*Safari/);
  if(!isSafari) {
    var video = videojs('video');
    video.zoomrotate({
      rotate: <%=videoRotation%>,
      zoom: 1.0
      });
  }
</script>

</body>
</html>