<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    <%= typeof title === "undefined" ? "Achievement" : title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <link rel="icon" href="http://www.dataparenting.com/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/http://www.dataparenting.com/favicon.ico" type="image/x-icon">

  <style>

    body {
      background-color: black;
      color: white;
    }

    .picture {
      border: 30px solid black;
      background-color: black;

    }

    .title {
      font-size: 20pt;
      text-align: center;
      color: white;
      background-color: black;
      border: 20px solid black
    }
  </style>


</head>
<body>
<% include ../google_tracking.ejs %>

<!-- content -->
<div class='achievement'>
  <div class='title'>
    <%= title %>
  </div>
</div>

<% include ../clicky_tracking.ejs %>
</body>
</html>