<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    <%= typeof title === "undefined" ? "Achievement" : title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <link rel="stylesheet" href="../css/styles.css"/>
  <script src="../js/load-image.js"></script>
  <script src="../js/load-image-ios.js"></script>
  <script src="../js/load-image-orientation.js"></script>
  <script src="../js/exif.js"></script>
  <link rel="icon" href="http://www.dataparenting.com/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/http://www.dataparenting.com/favicon.ico" type="image/x-icon">

  <style>

    body {
      background-color: black;
      color: white;
    }

    .picture {
      border: 30px solid black;
      background-color: black;

    }

    .title {
      font-size: 20pt;
      text-align: center;
      color: white;
      background-color: black;
      border: 20px solid black
    }

    canvas {
      max-width: 960px;
      max-height: 80%;
      height: auto;
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    img {
      max-width: 960px;
      max-height: 80%;
      height: auto;
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

  </style>


</head>
<body>
<% include ../google_tracking.ejs %>



<!-- content -->
<div class='achievement'>
  <div class='title'>
    <%= title %>
  </div>
  <div class='picture' id='picture-frame'/>
</div>

<script>
  var frame = document.getElementById('picture-frame');
  var imageUrl = "<%= photoUrl %>";

  if (!window.navigator || !window.navigator.platform ||
          !(/iP(hone|od|ad)/).test(window.navigator.platform)) {

    var options = {};
    var http = new XMLHttpRequest();
    http.open("GET", imageUrl, true);
    http.responseType = "blob";
    http.onload = function (e) {
      if (this.status === 200) {
        var image = new Image();
        image.onload = function () {
          EXIF.getData(image, function () {
            options.orientation = this.exifdata.Orientation;
            loadImage(
                    http.response,
                    function (img) {
                      if (img.type === "error") {
                        console.log("Error loading image " + imageUrl);
                      } else {
                        console.log("Appended image : " + img);
                        frame.appendChild(img);
                      }
                    },
                    options);

          });
        };
      }
      image.src = URL.createObjectURL(http.response);
    };

    http.send(null);
  } else {
    // For some reason, on prod, the code below does not render the image on IOS devices.
    // But it also seems that it is not needed and that the IOS browser respects the orientation tags.
    var image = new Image();
    image.src = imageUrl;
    frame.appendChild(image);
  }
</script>
<% include ../clicky_tracking.ejs %>
</body>
</html>