<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All in BabyTests.m.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>All in PronounHelperTests.m.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>DataParenting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DataParentingDev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E8A02CFC19817CCF001E0DAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8BF63F719816B6400F1EE48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8DD48D9188EE5B900153095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E8DD4900188EE5BA00153095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
