<footer>
  <ul>
    <% var year = new Date(); year = year.getFullYear(); %>
    <li><%= year %> &copy; DataParenting</li>
    <li><a href="http://dataparenting.com/contact">Contact</a></li>
    <li><a href="http://dataparenting.com/terms">Terms + Privacy</a></li>
    <li><a href="http://dataparenting.com/team">Team</a></li>
  </ul>
</footer>